@use '../variables' as vars

.header
    height: 5rem
    min-width: 100vw
    max-width: 100vw
    position: fixed
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    background: #{vars.$primary-dark-color}a0
    backdrop-filter: blur(15px)
    padding: 0rem 3rem

    .canvas
        display: flex
        width: 3rem

    .nav
        display: flex
        flex-direction: row
        gap: 2rem

        .element
            list-style: none
