@use '../variables' as vars

.header
    height: 5rem
    width: 100vw
    position: sticky
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    background: vars.$primary-dark-color
