@use '../variables' as vars

.nav
    position: fixed
    bottom: 0
    left: calc(50% - 10rem)
    height: 3rem
    width: 20rem
    margin: 2rem 0
    border-radius: 2rem
    background: #ffffff20
    backdrop-filter: blur(20px)
    z-index: 1

    ul
        .element
            list-style: none

.item
    height: 1.5rem
    width: 1.5rem
    color: white
    border-radius: 100%
